.Rproj.user
.Rhistory
.RData
.Ruserdata
*.RDataTMP

compound_qc_summaries/*
data_input/*
data_output/*
scripts/.DS_Store
data_cleaning/.DS_Store
flim_analysis_files/.DS_Store
.DS_Store

*.csv
*.zip
*.html
*.log
*.tex
*.png